@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.App {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background: #afd4c0;
}

.Header {
  height: 10vh;
  background: #519872;
}

.Dashboard {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #e5f4ec;
  margin-left: 25%;
}

.Wizard {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #e5f4ec;
  margin-left: 25%;
}
